<lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">
  <a
    class="gallery-item"
    data-sub-html="<h4>Photo by - <a href='https://unsplash.com/@katherine_xx11' >Katherine Gu </a></h4><p> For all those years we were alone and helpless.</p>"
  >
    <img
      class="img-responsive w-50 h-auto my-2"
      src="assets/images/gallery-images/10380552.jpg"
    />
  </a>
  <a
    class="gallery-item"
    data-sub-html="<h4>Photo by - <a href='https://unsplash.com/@entrycube' >Diego Guzmán </a></h4> <p> Location - <a href='https://unsplash.com/s/photos/fushimi-inari-taisha-shrine-senbontorii%2C-68%E7%95%AA%E5%9C%B0-fukakusa-yabunouchicho%2C-fushimi-ward%2C-kyoto%2C-japan'>Fushimi Ward, Kyoto, Japan</a></p>"
  >
    <img
      class="img-responsive w-25 h-auto my-2"
      src="assets/images/gallery-images/10352429.jpg"
    />
  </a>
  <a
    class="gallery-item"
    data-sub-html="<h4>Photo by - <a href='https://unsplash.com/@katherine_xx11' >Katherine Gu </a></h4><p> For all those years we were alone and helpless.</p>"
  >
    <img
      class="img-responsive w-50 h-auto my-2"
      src="assets/images/gallery-images/10380640.jpg"
    />
  </a>
  <a
    class="gallery-item"
    data-sub-html="<h4>Photo by - <a href='https://unsplash.com/@asoshiation' >Shah </a></h4><p> Location - <a href='https://unsplash.com/s/photos/shinimamiya%2C-osaka%2C-japan'>Shinimamiya, Osaka, Japan</a></p>"
  >
    <img
      class="img-responsive w-50 h-auto my-2"
      src="assets/images/gallery-images/10378460.jpg"
    />
  </a>
  <a
    class="gallery-item"
    data-sub-html="<h4>Photo by - <a href='https://unsplash.com/@katherine_xx11' >Katherine Gu </a></h4><p> For all those years we were alone and helpless.</p>"
  >
    <img
      class="img-responsive w-50 h-auto my-2"
      src="assets/images/gallery-images/10378594.jpg"
    />
  </a>
  <a
    class="gallery-item"
    data-sub-html="<h4>Photo by - <a href='https://unsplash.com/@katherine_xx11' >Katherine Gu </a></h4><p> For all those years we were alone and helpless.</p>"
  >
    <img
      class="img-responsive w-50 h-auto my-2"
      src="assets/images/gallery-images/10378761.jpg"
    />
  </a>
  <a
    class="gallery-item"
    data-sub-html="<h4>Photo by - <a href='https://unsplash.com/@katherine_xx11' >Katherine Gu </a></h4><p> For all those years we were alone and helpless.</p>"
  >
    <img
      class="img-responsive w-25 h-auto my-2"
      src="assets/images/gallery-images/10378775.jpg"
    />
  </a>
  <a
    class="gallery-item"
    data-sub-html="<h4>Photo by - <a href='https://unsplash.com/@katherine_xx11' >Katherine Gu </a></h4><p> For all those years we were alone and helpless.</p>"
  >
    <img
      class="img-responsive w-50 h-auto my-2"
      src="assets/images/gallery-images/10380536.jpg"
    />
  </a>
  <a
    class="gallery-item"
    data-sub-html="<h4>Photo by - <a href='https://unsplash.com/@katherine_xx11' >Katherine Gu </a></h4><p> For all those years we were alone and helpless.</p>"
  >
    <img
      class="img-responsive w-25 h-auto my-2"
      src="assets/images/gallery-images/10380586.jpg"
    />
  </a>
  <a
    class="gallery-item"
    data-sub-html="<h4>Photo by - <a href='https://unsplash.com/@katherine_xx11' >Katherine Gu </a></h4><p> For all those years we were alone and helpless.</p>"
  >
    <img
      class="img-responsive w-25 h-auto my-2"
      src="assets/images/gallery-images/10385234.jpg"
    />
  </a>
</lightgallery>
