<footer class="bg-black text-center text-white mt-4">
  <div class="container p-4">
    <section class="">
      <form action="">
        <div class="row d-flex justify-content-center">
          <div class="row">
            <p class="pt-2">
              <strong>Sign Up</strong>
            </p>
          </div>
          <section class="row mb-4">
            <p>
              Join our newsletter to be the first to hear about exclusive deals
              and get 10% off your first order
            </p>
          </section>

          <div class="col-md-5 col-12">
            <form>
              <div class="form-group">
                <input
                  type="email"
                  class="form-control"
                  id="footerEmail"
                  aria-describedby="emailHelp"
                  placeholder="Enter email"
                />
              </div>
            </form>
          </div>

          <div class="col-auto mb-5">
            <button type="submit" class="btn btn-active mb-4">Subscribe</button>
          </div>
        </div>
      </form>
    </section>

    <section class="row">
      <div class="row justify-content-md-center">
        <div class="col col-lg-4 mb-4">
          <h5 class="text-uppercase">Shop</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Men</a>
            </li>
            <li>
              <a href="#!" class="text-white">Women</a>
            </li>
            <li>
              <a href="#!" class="text-white">Sale</a>
            </li>
          </ul>
        </div>

        <div class="col col-md-auto mb-4">
          <h5 class="text-uppercase">About</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Brand</a>
            </li>
            <li>
              <a href="#!" class="text-white">News</a>
            </li>
            <li>
              <a href="#!" class="text-white">Jobs</a>
            </li>
          </ul>
        </div>

        <div class="col col-lg-4 mb-4">
          <h5 class="text-uppercase">Follow Us</h5>

          <section class="mb-4">
            <button class="btn social-btn m-2">
              <img
                class="social-icon"
                src="/assets/images/social-icons-01.png"
                alt="Submit"
              />
            </button>
            <button class="btn social-btn m-2">
              <img
                class="social-icon"
                src="/assets/images/social-icons-02.png"
                alt="Submit"
              />
            </button>
            <button class="btn social-btn m-2">
              <img
                class="social-icon"
                src="/assets/images/social-icons-03.png"
                alt="Submit"
              />
            </button>
          </section>
        </div>
      </div>
    </section>
  </div>

  <div class="text-center p-3">
    <img
      src="/assets/images/EAD Logo text white crop.png"
      alt="logo"
      class="logo"
      style="max-height: 60px"
      routerLink="/"
    />
    <p class="copyright pt-2">Equipped After Dark © 2024</p>
  </div>
</footer>
