<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <!-- <mdb-form-control class="form-white mb-4">
              <input
                mdbInput
                type="email"
                id="form5Example24"
                class="form-control"
              />
              <label mdbLabel class="form-label" for="form5Example24"
                >Email address</label
              >
            </mdb-form-control> -->
            <mdb-form-control>
              <input mdbInput type="text" id="form1" class="form-control" />
              <label mdbLabel class="form-label" for="form1"
                >Email Address</label
              >
            </mdb-form-control>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio
        earum repellat quaerat voluptatibus placeat nam, commodi optio pariatur
        est quia magnam eum harum corrupti dicta, aliquam sequi voluptate quas.
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Shop</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Men</a>
            </li>
            <li>
              <a href="#!" class="text-white">Women</a>
            </li>
            <li>
              <a href="#!" class="text-white">Sale</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">About</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Brand</a>
            </li>
            <li>
              <a href="#!" class="text-white">News</a>
            </li>
            <li>
              <a href="#!" class="text-white">Jobs</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Follow Us</h5>

          <section class="mb-4">
            <a
              class="btn btn-outline-light btn-floating m-1"
              href="#!"
              role="button"
              ><i class="fab fa-facebook-f"></i
            ></a>

            <a
              class="btn btn-outline-light btn-floating m-1"
              href="#!"
              role="button"
              ><i class="fab fa-twitter"></i
            ></a>

            <a
              class="btn btn-outline-light btn-floating m-1"
              href="#!"
              role="button"
              ><i class="fab fa-instagram"></i
            ></a>
          </section>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <div class="text-center p-3">
    <img
      src="/assets/images/EAD Logo text white crop.png"
      alt="logo"
      class="logo"
      style="max-height: 60px"
      routerLink="/"
    />
    <p>Equipped After Dark © 2024</p>
  </div>
</footer>
