<div class="home-container">
  <carousel [isAnimated]="true">
    <slide class="hero-container">
      <a routerLink="/shop" class="btn btn-green btn-hero-1 text-uppercase"
        >Shop Now</a
      >
      <img
        class="hero-img"
        src="assets/images/Hero-01.jpg"
        alt="slide"
        style="display: block; width: 100%"
      />
    </slide>
    <slide class="hero-container">
      <a routerLink="/shop" class="btn btn-orange btn-hero-2 text-uppercase"
        >Browse</a
      >
      <img
        class="hero-img"
        src="assets/images/Hero-02.jpg"
        alt="slide"
        style="display: block; width: 100%"
      />
    </slide>
    <slide class="hero-container">
      <a routerLink="/gallery" class="btn btn-purple btn-hero-3 text-uppercase"
        >View Gallery</a
      >
      <img
        class="hero-img"
        src="assets/images/Hero-03.jpg"
        alt="slide"
        style="display: block; width: 100%"
      />
    </slide>
  </carousel>

  <section class="featured">
    <div class="d-flex justify-content-center text-black">
      <strong class="text-uppercase font-weight-bold"
        >Be prepared for anything</strong
      >
    </div>
  </section>

  <section class="d-flex flex-column flex-lg-row justify-content-center">
    <div
      style="width: 350px; height: auto"
      class="home-card rounded-3 bg-white shadow my-3 mx-auto mx-lg-3"
    >
      <img
        style="width: 350px; height: 400px"
        class="home-card-img object-fit-cover rounded-top-3"
        src="assets/images/gallery-images/10380597.jpg"
        alt=""
      />
      <div class="m-3">
        <h4 class="text-center">After Dark Reflective Jacket</h4>
        <div class="d-flex justify-content-center block">
          <button class="btn btn-purple m-3 w-75 text-uppercase">View</button>
        </div>
      </div>
    </div>
    <div
      style="width: 350px; height: auto"
      class="home-card rounded-3 bg-white shadow my-3 mx-auto mx-lg-3"
    >
      <img
        style="width: 350px; height: 400px"
        class="home-card-img object-fit-cover rounded-top-3"
        src="assets/images/gallery-images/10380637.jpg"
        alt=""
      />
      <div class="m-3">
        <h4 class="text-center">All Bases Puffer Jacket</h4>
        <div class="d-flex justify-content-center block">
          <button class="btn btn-purple m-3 w-75 text-uppercase">View</button>
        </div>
      </div>
    </div>
    <div
      style="width: 350px; height: auto"
      class="home-card rounded-3 bg-white shadow my-3 mx-auto mx-lg-3"
    >
      <img
        style="width: 350px; height: 400px"
        class="home-card-img object-fit-cover rounded-top-3"
        src="assets/images/gallery-images/10380541.jpg"
        alt=""
      />
      <div class="m-3">
        <h4 class="text-center">Reflective Trim Jacket</h4>
        <div class="d-flex justify-content-center block">
          <button class="btn btn-purple m-3 w-75 text-uppercase">View</button>
        </div>
      </div>
    </div>
  </section>

  <div class="container-fluid d-flex my-4">
    <img
      style="width: 500px; height: 350px"
      class="object-fit-cover"
      src="assets/images/gallery-images/10380596.jpg"
    />
    <div class="banner p-3">
      <strong class="text-uppercase text-black">Shop all styles</strong>
      <p class="banner-text text-black">
        Equipped After Dark's mission is to prepare you for whatever the night
        may bring. Rain and darkness don't stand a chance.
      </p>
      <button class="btn btn-mono text-uppercase float">Products</button>
    </div>
  </div>

  <div class="m-5">
    <strong class="text-uppercase text-black">Choose to be equipped</strong>
    <p class="banner-text text-black">
      Our products are made with urban night life in mind. Be prepared for the
      weather with quality materials that are waterproof and highly reflective.
      Inspired by tech-wear, our design focus is on practicality, safety and
      most of all, looking good while doing it.
    </p>
    <button class="btn btn-green">View Gallery</button>
  </div>
  <div class="justify-content-center d-lg-flex mb-5">
    <img
      style="width: 500px; height: auto"
      src="assets/images/home-1.jpg"
      class="m-2"
    />
    <img
      style="width: 500px; height: auto"
      src="assets/images/home-2.jpg"
      class="m-2"
    />
  </div>
</div>
